.navbar{ background:#0B0F35;}
.navbar-collapse{ justify-content: flex-end;}
.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{ margin-right: 1em !important;
    font-size: 18px;
    font-weight: 500;
    color: white;
}
 .navbar-light  .navbar-nav .nav-link {
    color: white;
}
nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(180, 202, 243);
}
.navbar-light .navbar-brand {
    color: white;
}
.nav-link:hover{  color: #ecf78b; }

