/* navbar */
.navbar{ background:#0B0F35;}
.navbar-collapse{ justify-content: flex-end;}
.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{ margin-right: 1em !important;
    font-size: 16px;
    font-weight: 500;
    color: white;
}
 .navbar-light .navbar-nav .nav-link {
    color: white;
}
/* .navbar-light .navbar-nav .nav-link {
    color: white;
} */
nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #42A3CD;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #42A3CD;
}
.navbar-light .navbar-brand {
    color: white;
}
.nav-link:hover{  color: #42A3CD; }
.navbar-toggler {
    background-color: #42A3CD;
}



/* Slider */

.carousel-item{
    padding: 20px 40px;
}



.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-right: 0px;
    padding-left: 0px;
    
}


/* Reusable contents */
a{
    color: #0B0F35;
    
}

a:hover{
    color: #42A3CD;
    text-decoration: none;
}
.slyBlue-bg{
    background-color: #9BE1EF;
}

body{
    /* background-color: rgb(228, 245, 255); */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  padding: 0;
  
}

.water-color{
    color: #0B0F35;
}
.custom-btn{
    background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    margin: 10px;
}

.header1{
    color: #0B0F35;
    font-size: 32px;
    font-weight: 500;
    padding: 30px 0;
    text-align: center;
}

.txt-box{
    color: #0B0F35;
    font-size: 16px;
    font-weight: 350;
    margin: 30px 20%;
    text-align: center;
}
ul li{
    list-style: none;
    padding: 10px;
}
p{
    margin: 0;
}

/* Why and How sec */
.card-body ion-icon{
    height: 40px;
    width: 40px;
    margin-right: 5px;
    margin-bottom: 7px;
}
.card-body{
    text-align: center;
}
.container-fluid .solution-sec{
    background-color: rgb(228, 245, 255);
    padding-left: 50px;
    padding-right: 50px;
}


/* Team */
#team{
    padding: 60px;
}


.container {
    /* background-color: white; */
    text-align: center;
    /* border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2); */
    /* margin-bottom:50px; */
    
}

.title {
    font-size: 24px;
    font-weight: 100
}

.icon {
    position: relative;
    bottom: 11px
}

.mt-100 {
    margin-top: 100px
}

.profile img {
    width: 68px;
    height: 68px;
    border-radius: 50%
}

.card {
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0 10px 20px #0b0f3554;
}
.card img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#team .card img{
    border-radius: 50%;
}

#team .card-body {
    position: relative;
    bottom: 35px
}


/* .dashboard{
    margin: 100px;
} */
/* 
.container-fluid .menu{
    background-color: black;
} */
#menu{
    background-color: #0B0F35;
    margin-bottom: 50px;
    
}


#footer{
    padding-top: 50px;
    background-color: #e7eaeb;
    padding-bottom: 0;
}

.footer ul{
    list-style: none;
    text-decoration: none;
}

.quick-links h5{
    padding-left: 40px;
}

.get-connected p{
    margin-bottom: 0;
}

/* contact-us */
body{
    background-color: #63a4ff25;
background-image: linear-gradient(315deg, #63a4ff28 0%, #83eaf138 74%);
}
.contact-form{
    background: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 30px;
    width: 80%;
    border-radius: 15px;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 50px;
    text-align: center;
    /* color: #0062cc; */
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

/* sign in FORM */
#logreg-forms{
    width:412px;
    margin:10vh auto;
    background-color:#f3f3f3;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}
#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logreg-forms .social-login{
    width:390px;
    margin:0 auto;
    margin-bottom: 14px;
}
#logreg-forms .social-btn{
    font-weight: 100;
    color:white;
    width:190px;
    font-size: 0.9rem;
}

#logreg-forms a{
    display: block;
    padding-top:10px;
    color:lightseagreen;
}

#logreg-form .lines{
    width:200px;
    border:1px solid red;
}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B; }

#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }

#logreg-forms .form-signup .social-btn{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}

.form-signup .social-login{
    width:210px !important;
    margin: 0 auto;
}

/* Mobile */

@media screen and (max-width:500px){
    #logreg-forms{
        width:300px;
    }
    
    #logreg-forms  .social-login{
        width:200px;
        margin:0 auto;
        margin-bottom: 10px;
    }
    #logreg-forms  .social-btn{
        font-size: 1.3rem;
        font-weight: 100;
        color:white;
        width:200px;
        height: 56px;
        
    }
    #logreg-forms .social-btn:nth-child(1){
        margin-bottom: 5px;
    }
    #logreg-forms .social-btn span{
        display: none;
    }
    #logreg-forms  .facebook-btn:after{
        content:'Facebook';
    }
  
    #logreg-forms  .google-btn:after{
        content:'Google+';
    }
    
}


.blog-sec .card{
    margin:25px;
}