
<!-- footer -->
<div id="footer" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col quick-links text-left">
                <h5 class="font-weight-bold text-uppercase">Quick links</h5>
                <ul>
                    <li><a href="/contact-us">Contact us</a></li>
                    <!-- <li><a href="#forum">Post your problems</a></li> -->
                    <li><a href="/about-us">About us</a></li>
                    <li><a href="https://www.youtube.com/watch?v=YZbkqE8uQYw">Tutorials</a></li>

                </ul>
            </div>
            <div class="col">
                <a class="navbar-brand" href="#"><img src="images/logo.png" alt="" height="150px" width="auto"></a>
            </div>
            <div class="col">
                <h5 class="font-weight-bold text-uppercase text-left">Get connected</h5>

                <ul class="get-connected text-left">
                    <li>
                        <p>
                            <i class="fas fa-home mr-3"></i> Hatirpool, Dhaka</p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-envelope mr-3"></i> contact@joloj.com</p>
                    </li>
                    <li>
                        <p>
                            <i class="fab fa-facebook-square  mr-3"></i> facebook.com/Joloj</p>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

    