<!-- navbar -->

<nav  id="menu" class="navbar navbar-expand-lg ">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="images/logo.png" alt="" height="55px" width="auto"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="color: white;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-value="home" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-value="portfolio" href="/login">Dashboard</a>
                </li>

                <!-- <li class="nav-item active">
                    <a class="nav-link" href="/login">Dashboard <span class="sr-only">(current)</span></a>
                </li>  -->

                <!-- <% if (isLoggedIn) { %>
                    <li class="nav-item">
                        <a class="nav-link " data-value="portfolio" href="/dashboard">Dashboard</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link " data-value="portfolio" href="/login">Dashboard</a>
                    </li>
                <% } %>
                 -->
                
                <li class="nav-item">
                    <a class="nav-link " data-value="blog" href="/knowledge-box/blogs">Knowledge box</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-value="team" href="/fish-doctor">Fish Doctor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-value="contact" href="/contact-us">Contact us</a>
                </li>
                <% if (isLoggedIn) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Signup</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
