<%- include('../../partials/head.ejs') %>

    <div class="container contact-form">
        <form method="post">
            <h3 class="header1">Admin Panel</h3>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-primary btn-lg btn-block" href="doctors-list/" role="button">Fish doctor</a><br><br>
                    <a class="btn btn-primary btn-lg btn-block" href="/posts" role="button">Blog</a><br><br>
                    <a class="btn btn-primary btn-lg btn-block" href="/show-message" role="button">Messages</a><br><br>
                    <a class="btn btn-primary btn-lg btn-block" href="/posts/create">Create your own post</a>
                </div>
            </div>
        </form>
    </div>


<%- include('../../partials/footer.ejs') %>
</body>

</html>