
  <%- include('../partials/head.ejs') %>

  <div class="container contact-form" style="margin-top: 10px;">
    <h1>Our Team</h1>
    <div class="row" style="justify-content: center">
      <div class="card col-md-3 mt-100">
        <div class="card-content">
          <div class="card-body p-0">
            <div class="profile"> <img src="images/propicG.jpg"> </div>
            <div class="card-title"> Mehjabeen Shachi<br /> <small>Co-founder</small> </div>
            <div class="card-subtitle">
              <p> <small class="text-muted"> Currently studying CSE at Ahsanullah University of Science & Technology</small> </p>
              <p> <small class="text-muted"> ID: 17-01-04-153</small> </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card col-md-3 mt-100">
        <div class="card-content">
          <div class="card-body p-0">
            <div class="profile"> <img src="images/shourav.jpg"> </div>
            <div class="card-title"> Nurnaby Siddiqui<br /> <small>Co-founder</small> </div>
            <div class="card-subtitle">
              <p> <small class="text-muted"> Currently studying CSE at Ahsanullah University of Science & Technology</small> </p>
              <p> <small class="text-muted"> ID: 17-01-04-151</small> </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card col-md-3 mt-100">
        <div class="card-content">
          <div class="card-body p-0">
            <div class="profile"> <img src="images/sonia.jpg"> </div>
            <div class="card-title"> Dr. Sonia Sharmin<br /> <small>Consultant</small> </div>
            <div class="card-subtitle">
              <p> <small class="text-muted"> Great Team. Loved working with them. </small> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br>
  </div>
  
  
  <%- include('../partials/footer.ejs') %>
  </body>
  
  </html>