<%- include('../partials/head.ejs') %>

    <div class="container contact-form">
        <!-- <div class="contact-image">
                <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact" />
            </div> -->
        <form method="post">
            <h3 class="header1">Admin Panel</h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" name="txtName" class="form-control" placeholder="Upload Blog" value="" />
                    </div>
                    <div class="form-group">
                        <input type="submit" name="btnSubmit" class="custom-btn" value="Upload" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtName" class="form-control" placeholder="Add Doctor" value="" />
                    </div>
                    <div class="form-group">
                        <input type="submit" name="btnSubmit" class="custom-btn" value="Add" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtName" class="form-control" placeholder="Reply Message" value="" />
                    </div>
                    <div class="form-group">
                        <input type="submit" name="btnSubmit" class="custom-btn" value="Send" />
                    </div>
                </div>
            </div>
        </form>
    </div>


<%- include('../partials/footer.ejs') %>
</body>

</html>