<%- include('../partials/head.ejs') %>

<div class="container contact-form" style="margin-top: 10px;">
    <form action="/contact-us" method="POST">
        <h3>Leave your thoughts and we'll reply you with an email</h3>
        <div class="form-group">
            <input type="text" name="name" id="name" class="form-control"placeholder="Name">
            <div class="invalid-feedback">
            </div>
        </div>
        <div class="form-group">
            <input type="email" name="email" id="email" class="form-control" placeholder="Email">
            <div class="invalid-feedback">
            </div>
        </div>
        <div class="form-group">
            <input type="text" name="phone" id="phone" class="form-control" placeholder="Phone">
            <div class="invalid-feedback">
            </div>
        </div>
        <div class="form-group">
            <input type="text" name="message" id="message" class="form-control" style="height: 150px;" placeholder="Message">
            <div class="invalid-feedback">
            </div>
        </div>
        <!-- <input type="submit" class="btn btn-primary btn-block" value="Sign up"> -->
        <button type="submit" class="btn btn-primary btn-block"> Send
        </button>
    </form>
</div>


<%- include('../partials/footer.ejs') %>
</body>

</html>