<%- include('../partials/head.ejs') %>

<!-- Table -->

<div class="container dashboard">
    <table class="table table-hover  table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Parameter</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>pH</td>
                <td>
                    <p style="color:black; " id="demo1"></p>
                </td>
                <!-- <td>
                        <p style="color:black; " id="demopH"></p>
                    </td> -->
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>TDS</td>
                <td>
                    <p style="color:black; " id="demo2"></p>
                </td>
                <!-- <td>
                        <p style="color:black; " id="demoTDS"></p>
                    </td> -->
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Temperature</td>
                <td>
                    <p style="color:black; " id="demo4"></p>
                </td>
                <!-- <td>
                        <p style="color:black; " id="demoTemp"></p>
                    </td> -->
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Amonia</td>
                <td>
                    <p style="color:black; " id="demo3"></p>
                </td>
                <!-- <td>
                        <p style="color:black; " id="demoAmonia"></p>
                    </td> -->
            </tr>
        </tbody>
    </table>
</div>

<!-- decision -->
<div class="container">
    <h1 class="header1">Suggested action</h1>
    <p class="txt-box">Discharge 20 litre of water and fill it again. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Duis congue neque diam, et ullamcorper felis pulvinar non.
        Mauris nisl risus, volutpat quis ullamcorper eu, lacinia a mi. Sed vehicula feugiat quam, in ornare mi euismod
        sit amet.
        Etiam malesuada odio ac magna semper maximus.
    </p>
</div>

<%- include('../partials/footer.ejs') %>
<link rel="stylesheet" href="script.js">

</body>

</html>


    
