<%- include('../partials/head.ejs') %>

<!-- <div class="alert alert-danger" role="alert">
    You need to login to view the data dashboard!
</div> -->
<!-- Table -->

<div class="container dashboard">
    <table class="table table-hover  table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Parameter</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>pH</td>
                <td>
                    <p style="color:black; " id="demo1"></p>
                </td>
                <!-- <td>
                        <p style="color:black; " id="demopH"></p>
                    </td> -->
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>TDS</td>
                <td>
                    <p style="color:black; " id="demo2"></p>
                </td>
                <!-- <td>
                        <p style="color:black; " id="demoTDS"></p>
                    </td> -->
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Temperature</td>
                <td>
                    <p style="color:black; " id="demo4"></p>
                </td>
                <!-- <td>
                        <p style="color:black; " id="demoTemp"></p>
                    </td> -->
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Amonia</td>
                <td>
                    <p style="color:black; " id="demo3"></p>
                </td>
                <!-- <td>
                        <p style="color:black; " id="demoAmonia"></p>
                    </td> -->
            </tr>

            <tr>
                <th scope="row">4</th>
                <td>Terbidity</td>
                <td>
                    <p style="color:black; " id="demo5"></p>
                </td>
                <!-- <td>
                        <p style="color:black; " id="demoAmonia"></p>
                    </td> -->
            </tr>

            <tr>
                <th scope="row">4</th>
                <td>DO</td>
                <td>
                    <p style="color:black; " id="demo6"></p>
                </td>
                <!-- <td>
                        <p style="color:black; " id="demoAmonia"></p>
                    </td> -->
            </tr>
        </tbody>
    </table>
</div>

<!-- <div class="container dashboard">
    
</div> -->
<div class="container">
    <h1 class="header1">Suggested action</h1>
    <ul>
        <li style="color:black; " id="demoAmonia"></li>
        <li style="color:black; " id="demoTemp"></li>
        <li style="color:black; " id="demoTerbidity"></li>
        <li style="color:black; " id="demoDO"></li>
        <li style="color:black; " id="demopH"></li>
        <li style="color:black; " id="demoTDS"></li>
    </ul> 
    
</div>
<script src="scripts/deviceData.js"></script>

<%- include('../partials/footer.ejs') %>
<link rel="stylesheet" href="script.js">

</body>

</html>


    
