<%- include('../partials/head.ejs') %>

<div class="container blog-sec">
    
    <div class="row">

        <div class="card" style="margin-bottom: 50px;">
            <img class="card-img-top" src="images/slide2.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Biofloc</h5>
                <p class="card-text">Biofloc system was developed to improve the environmental control over the aquatic animal production. In aquaculture, the strong influential factors are the feed cost (accounting to 60% of the total production cost) and most limiting factor is the water/land availability. High stocking density and rearing of aquatic animals requires wastewater treatment. Biofloc system is a wastewater treatment which has gained vital importance as an approach in aquaculture.

                    The principle of this technique is the generation of nitrogen cycle by maintaining higher C: N ratio through stimulating heterotrophic microbial growth, which assimilates the nitrogenous waste that can be exploited by the cultured spices as a feed. The biofloc technology is not only effective in treating the waste but also grants nutrition to the aquatic animal.
                    
                    biofloc.jpg
                    The higher C : N is maintained through the addition of carbohydrate source (molasses) and the water quality is improved through the production of high quality single cell microbial protein. In such condition, dense microorganisms develop and function both as bioreactor controlling water quality and protein food source. Immobilization of toxic nitrogen species occurs more rapidly in bioflocs because the growth rate and microbial production per unit substrate of heterotrophs are ten-times greater than that of the autotrophic nitrifying bacteria. This technology is based on the principle of flocculation within the system.
                    
                    The biofloc technology has been implemented in shrimp farming due to its bottom dwelling habit and resistance to environmental changes. Studies have been conducted to assess the larval growth and reproductive performance of shrimps and Nile tilapia. An improved breeding performance was observed in shrimp reared in the biofloc system when compared to that of normal culture practices. Similarly improved larval growth performance was also noticed.
                    
                    Composition and nutritional value of biofloc
                    Biofloc is a heterogeneous aggregate of suspended particles and variety of microorganisms associated with</p><br>
            </div>
        </div>


    </div>    <div class="row">

        <div class="card" style="margin-bottom: 50px;">
            <img class="card-img-top" src="images/slide1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Aquaponics</h5>
                <p class="card-text">Aquaponics is a combination of aquaculture, which is growing fish and other aquatic animals, and hydroponics which is growing plants without soil. Aquaponics uses these two in a symbiotic combination in which plants are fed the aquatic animals’ discharge or waste. In return, the vegetables clean the water that goes back to the fish. Along with the fish and their waste, microbes play an important role to the nutrition of the plants. These beneficial bacteria gather in the spaces between the roots of the plant and converts the fish waste and the solids into substances the plants can use to grow. The result is a perfect collaboration between aquaculture and gardening.

                    Aquaponics is a big hope for sustainable organic crop production, aquaculture and water consumption. The fish waste is recycled and used for plant growth instead of throwing it in the ocean. The water is recirculated in a closed system lowering the consumption of this resource.
                    
                    If your curiosity is on fire now because you like to grow fish and vegetables and you can combine them to have a fully functional garden, we recommend you check our great and easy DIY Aquaponic Garden. You can experiment with the aquaponic system in the beginning and see how it turns out for you.
                    
                    Read on to find out about the benefits as well as some tips about this type of garden.</p><br>
            </div>
        </div>


    </div>
    <div class="row">

        <div class="card" style="margin-bottom: 50px;">
            <img class="card-img-top" src="images/slide1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Hydroponics</h5>
                <p class="card-text">Hydroponics operates on the premise that as long as you are able to provide with what they need, plants will grow well.

                    In this sense, Hydroponics is invented to rule out the influence of mother nature - It can be placed in a controlled growing environment. Hydroponics replaces the soil with water and the growing media. The growing media can be Perlite, sand, Rockwool, etc. Their main role is to transfer the nutrients in the water and keep the roots oxygenated.

                    Nutrients are added to the water and are moved to the growing media and through the plant roots usually by a water pump. The interval of each action is often set by a timer.
                    
                    There are several Hydroponic systems, but they all work as per to the above principle.
                    
                    Hydroponics is usually grown indoors or in a greenhouse. This means growers will take full management of the environment - climate, temperature, lights, ventilation, and so on.</p><br>
            </div>
        </div>


    </div>

</div>

<%- include('../partials/footer.ejs') %>



</body>

</html>