<%- include('../partials/head.ejs') %>
<!-- Slider -->
<div class="container contact-form">
  <div class="container">
    <div id="carouselExampleControls" class="carousel slide slyBlue-bg" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row align-items-center">
            <div class="col-md-7">
              <h1>Biofloc</h1>
              <p>The most trending culture right now.</p>
              <h1 class="price"></h1>
              <button onclick="window.location.href='/hatcheryType'"class="custom-btn ">Read more</button>
            </div>
            <div class="col-md-5">
              <img src="images/slide2.jpeg" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row align-items-center">
            <div class="col-md-7">
              <h1>Aquaphonics</h1>
              <p>You can do it in your drawing room.</p>
              <!-- <h1 class="price">$1200</h1> -->
              <button onclick="window.location.href='/hatcheryType'" class="custom-btn">Read more</button>
            </div>
            <div class="col-md-5">
              <img src="images/slide1.jfif" class="d-block w-100" alt="...">
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="row align-items-center">
            <div class="col-md-7">
              <h1>Pond culture</h1>
              <p>You can do it if you own a pond.</p>
              <!-- <h1 class="price">$1200</h1> -->
              <button onclick="window.location.href='/hatcheryType'" class="custom-btn">Read more</button>
            </div>
            <div class="col-md-5">
              <img src="images/slide1.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <!-- Why we are doing it -->
  <div class="container">
    <h1 class="header1">Why we are doing it</h1>
    <p class="txt-box">Several thousands of dollars worth of fish die every year due to the lack of proper surveillance
      and water maintenance.
      We created a system that will keep the hatchery water under strict observation
      and notify the fish farmer before any mishap takes place.<br>
      In short the farmers -
    </p>

    <!-- <ul class="problem-list">
              <li>Faces difficulties to get the right data at the right time.</li>
              <li><ion-icon name="search-circle-outline"></ion-icon>Lacks the knowledge to make a decision based on gathered data.</li>
              <li><ion-icon name="help-circle-outline"></ion-icon>Lacks the expertise to carry out the decision or take action.</li>
            </ul> -->

  </div>
  <!-- How we are doing it -->
  <div class="container solution-sec">
    <h1 class="header1">How we are doing it</h1>

    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <ion-icon class="i" name="stats-chart-outline"></ion-icon>
          <h3>We collect data constantly.</h3>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <ion-icon name="search-circle-outline"></ion-icon>
          <h3>We analyze them instantly.</h3>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <ion-icon name="settings-outline"></ion-icon>
          <h3>We show required action in time.</h3>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <ion-icon name="person-add-outline"></ion-icon>
          <h3>We connect to the nearby fish doctor or if necessary.</h3>
        </div>
      </div>
    </div>
  </div>

  <!-- team -->
  <div id="team" class='container mx-auto mt-5 col-md-10 mt-100'>
    <h1>Our Team</h1>
    <div class="row" style="justify-content: center">
      <div class="card col-md-3 mt-100">
        <div class="card-content">
          <div class="card-body p-0">
            <div class="profile"> <img src="images/shourav.jpg"> </div>
            <div class="card-title"> Nurnaby Siddiqui<br /> <small>Co-founder</small> </div>
            <div class="card-subtitle">
              <p> <small class="text-muted">CEO</small> </p>
              <p> <small class="text-muted"> Currently studying CSE at Ahsanullah University of Science & Technology</small>
              </p>
      
            </div>
          </div>
        </div>
      </div>
      <div class="card col-md-3 mt-100">
        <div class="card-content">
          <div class="card-body p-0">
            <div class="profile"> <img src="images/propicG.jpg"> </div>
            <div class="card-title"> Mehjabeen Shachi<br /> <small>Co-founder</small> </div>
            <div class="card-subtitle">
              <p> <small class="text-muted">CTO</small> </p>
              <p> <small class="text-muted"> Currently studying CSE at Ahsanullah University of Science & Technology</small> </p>
              
            </div>
          </div>
        </div>
      </div>
      <div class="card col-md-3 mt-100">
        <div class="card-content">
          <div class="card-body p-0">
            <div class="profile"> <img src="images/sonia.jpg"> </div>
            <div class="card-title"> Dr. Sonia Sharmin<br /> <small>Consultant</small> </div>
            <p> <small class="text-muted">Head of Resource Management</small> </p>
            <div class="card-subtitle">
              <p> <small class="text-muted"> Senior Scientific Officer, Bangladesh Fisheries Research Institute </small> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<%- include('../partials/footer.ejs') %>

</body>

</html>