<%- include('../partials/head.ejs') %>

    <div class="container blog-sec">
        <h2>
            Knowledge box
        </h2>
        <h3 class="text-left">Biofloc</h3><br>
        <div class="row">
    
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/slide2.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Huge success on Biofloc</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p><br>
                    <a href="#" class="custom-btn">Read more</a>
                </div>
            </div>
    
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/slide2.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Huge success on Biofloc</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p><br>
                    <a href="#" class="custom-btn">Read more</a>
                </div>
            </div>
    
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/slide2.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Huge success on Biofloc</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p><br>
                    <a href="#" class="custom-btn">Read more</a>
                </div>
            </div>
    
        </div>
    
    </div>
    <div class="container  blog-sec">
        <h3 class="text-left">Aquaphonics</h3><br>
        <div class="row">
    
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/slide2.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Huge success on Biofloc</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p><br>
                    <a href="#" class="custom-btn">Read more</a>
                </div>
            </div>
    
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/slide2.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Huge success on Biofloc</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p><br>
                    <a href="#" class="custom-btn">Read more</a>
                </div>
            </div>
    
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/slide2.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Huge success on Biofloc</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p><br>
                    <a href="#" class="custom-btn">Read more</a>
                </div>
            </div>
    
        </div>
    </div>
    <div class="container blog-sec">
        <h3 class="text-left">Hydrophonics</h3><br>
        <div class="row">
    
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/slide2.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Huge success on Biofloc</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p><br>
                    <a href="#" class="custom-btn">Read more</a>
                </div>
            </div>
    
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/slide2.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Huge success on Biofloc</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <br>
                    <a href="#" class="custom-btn">Read more</a>
                </div>
            </div>
    
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/slide2.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Huge success on Biofloc</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p><br>
                    <a href="#" class="custom-btn">Read more</a>
                </div>
            </div>
    
        </div>
    </div>
    
    </div>

<%- include('../partials/footer.ejs') %>



</body>

</html>