<%- include('../partials/head.ejs') %>
<div id="logreg-forms">
    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign up</h1>
        <input type="name" id="inputName" class="form-control" placeholder="Name" required="" autofocus="">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">

        <button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up </button>
    </form>

</div>

<%- include('../partials/footer.ejs') %>

</body>

</html>